html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Roboto";
<<<<<<< HEAD
    overflow: hidden;
=======
>>>>>>> c5edfdd2a112d45b0b33d5dcb27f23134c321fad
  }

  main {
    overflow: hidden;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> c5edfdd2a112d45b0b33d5dcb27f23134c321fad
