.offer {
  padding: 118px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
      url(../image/mobile/offer@1-mobile.webp);

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
              url(../image/mobile/offer@2-mobile.webp)
  }

  @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
          url(../image/tablet/offer@1-tablet.webp);

      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                  rgba(47, 48, 58, 0.4)),
              url(../image/tablet/offer@2-tablet.webp);
      }
  }

  @media screen and (min-width: 1200px) {
      padding: 200px 0;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
          url(../image/tablet/offer@1-desktop.webp);

      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                  rgba(47, 48, 58, 0.4)),
              url(../image/tablet/offer@2-desktop.webp);
      }
  }



  &__title {
      color: $second-accent-color;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
      max-width: 360px;
      animation-name: title-move;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      margin-bottom: 30px;

      @media screen and (min-width: 1200px) {
          font-size: 44px;
          line-height: 1.36;
          letter-spacing: 2.64px;
          max-width: 696px;
          margin-bottom: 40px;
      }
  }



  &__button {
      @include button();
      animation-name: btn-move;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;

      @media screen and (min-width: 1200px) {
          padding: 10px 32px;
      }

      &:hover,
      &:focus {
          background-color: $hover;
      }
  }

}
@keyframes offer-bg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes offer-move {
  0% {
    transform: translate(1500px, -550px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes offer-button-move {
  0% {
    transform: translate(-1500px, -550px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}